<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="../css/contact.css">
</head>
<!-- Header & Navbar-->
<%- include('./partials/header'); %>

<body>
  <div class="wrapper">

    <form action="" class="form-area">
      <div class="msg-area">
        <label for="msg">Message</label>
        <textarea id="msg"></textarea>
      </div>
      <div class="details-area">
        <lable for="name">First Name</lable>
        <input type="text" name="" id="name">
        <lable for="name">Last Name</lable>
        <input type="text" name="" id="name"><br><br><br>

        <!-- <%= contact_data.agencies_data %> -->
        <p1>Travel Experts</p1>
          <p><% contact_data.agencies_data.forEach(function(agency){ %>
              <br>
              <%= agency.AgncyAddress %> &nbsp; &nbsp; Tel.<%= agency.AgncyPhone %><br>
              <%= agency.AgncyCity %>, <%= agency.AgncyProv %>, <%= agency.AgncyCountry %><br>
              <%= agency.AgncyPostal %> &nbsp; &nbsp;&nbsp;&nbsp; Fax: <%= agency.AgncyFax %><br><br>

              <% contact_data.agent_data.forEach(function(agent) { %>
                 
                  <% if (agent.AgencyId == agency.AgencyId) { %>
                    <%= agent.AgtPosition %>: <%= agent.AgtFirstName %> &nbsp; <%= agent.AgtLastName %> &nbsp; Tel.<%= agent.AgtBusPhone %><br>
                    <%} 
                    %>  
                <%});
              %>
            <%});
          %></p>

          <button type="submit">Submit</button>

      </div>
    </form>
  </div>
  </form>
  <%- include('./partials/footer'); %>
  </div>
  <%- include('./partials/js-menu-toggle'); %>
</body>

</html>