<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Bookings</title>
  
  <link rel="stylesheet" href="../css/order.css">
  <%- include('./partials/css-global'); %>

</head>
<body>
	<div class="wrapper">
		<%- include('./partials/header'); %>
		<main>
      <h1>Bookings</h1>
      <form  action="/order" method="post">
        <fieldset>
          <legend>Book Your Travel Package</legend>
          <ul>
            <li>
              <label>Start Date:</label>  
              <input type ="text" name = "tripStart">
            </li>
            <li>
              <label>End Date:</label>
              <input type ="text" name = "tripEnd">
            </li>      
            <li>
              <label>Destination:</label>
              <input type ="text" name = "destination">
            </li>
            <li>
              <label>Username</label>
              <input type ="text" name = "Username" value="<%= currentUser.username %>">
            </li>
            <button>Submit!</button>
          </ul>
        </fieldset> 
      </form>
    </main>
    <%- include('./partials/footer'); %>
	</div>
  <%- include('./partials/js-menu-toggle'); %>
  <script src="/js/singlepackage.js"></script>
</body>
</html>