<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Vacation Packages</title>
  
  <link rel="stylesheet" href="../css/packages.css">
  <%- include('./partials/css-global'); %>
  <style>
    img {
      width: 400px;
    }
  </style>
</head>
<body>
	<div class="wrapper">
		<%- include('./partials/header'); %>
		
		<main>
      <figure>
        <h2><%= PkgName %></h2>
        <img src="<%= path %>">
        <p> <%= PkgDesc %> </p>
        <p class="start-date"><%= PkgStartDate %></p>
        <p class="end-date"><%= PkgEndDate %></p>
        <p>$ <%= PkgBasePrice %></p>
      </figure>


    <!-- <form  action="/order" method="post">
      <input type="text" placeholder ="bookingId" name ="bookingId">
      <input type ="text" placeholder = "start date" value= "<%= PkgStartDate %>">
      <input type ="text" placeholder = "bookingNo" name = "bookingNo">
      <input type ="text" placeholder = "travelCount" name = "travelCount">
      <input type ="text" placeholder = "customerId" name = "customerId">
      <input type ="text" placeholder = "tripTypeId" name = "tripTypeId">
      <input type ="text" placeholder = "packageId" name = "packageId">
    
      <input type ="text" placeholder = "image url" name = "image">
      <button>Submit!</button>
            
    </form> -->

    <a href="/order">BOOK IT NOW</a>
  </main>
	</div>
  
 <a href="/order">BOOK IT NOW</a>

 
		<%- include('./partials/footer'); %>
	<%- include('./partials/js-packages'); %>
  <%- include('./partials/js-menu-toggle'); %>
  
  <script src="/js/singlepackage.js"></script>
</body>
</html>