<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test-Backend</title>
  <style>
    .center-items {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .full-vh {
      min-height: 100vh;
    }

    .date {
      color:red;
    }

    .invisible {
      visibility: hidden;
    }
  </style>

</head>

<body>
  <header class="full-vh center-items container">
    <figure>
      <h2><%= PkgName %></h2>
      <p> <%= PkgDesc %> </p>
      <p class="start-date"><%= PkgStartDate %></p>
      <p class="end-date"><%= PkgEndDate %></p>
      <p>$ <%= PkgBasePrice %></p>
    </figure>
  </header>
  <!-- <script src="/js/test.js"></script> -->
  <script src="/js/testpackages.js"></script>

</body>

</html>