<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Home</title>
  <%- include('./partials/css-global'); %>
</head>

<body>
  <%- include('./partials/header'); %>
      <main>
     <%= currentUser.CustFirstName %>
     <%= data %>
     
    </main>
  
  </div>
  <!-- <%- include('./partials/footer'); %> -->
  <%- include('./partials/js-menu-toggle'); %>

  <!-- javascript link -->
  <script src="/js/index-images.js"></script>
</body>

</html>
<!-- BookingDate: Date,
    BookingNo: String,
    TravelerCount: Number, 
    CustomerId: Number,
    TripTypeId: String,
    PackageId: String,
    Username: String,
    bookingdetail: [ 
      {
      type: mongoose.Schema.Types.ObjectId,
      ref:"BookingDetail"
      }
    ] -->

